# Set your own environement variables
# This file will be LOADED everytime you do flask run
# rename this file to .env to take effect
FLASK_ENV=development
FLASK_APP=main.py
FLASK_APP_SECRET=mysecret
DATABASE_NAME=db
DATABASE_HOST=localhost
DATABASE_USERNAME=root
DATABASE_PASSWORD=Matcha0709
